BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "rawclk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "rawclk" SITE "C1" ;
LOCATE COMP "nled[0]" SITE "N13" ;
LOCATE COMP "nled[1]" SITE "M12" ;
LOCATE COMP "nled[2]" SITE "P12" ;
LOCATE COMP "nled[3]" SITE "M11" ;
LOCATE COMP "nled[4]" SITE "P11" ;
LOCATE COMP "nled[5]" SITE "N10" ;
LOCATE COMP "nled[6]" SITE "N9" ;
LOCATE COMP "nled[7]" SITE "P9" ;
LOCATE COMP "digit0data[0]" SITE "A10" ;
LOCATE COMP "digit0data[1]" SITE "C11" ;
LOCATE COMP "digit0data[2]" SITE "F2" ;
LOCATE COMP "digit0data[3]" SITE "E1" ;
LOCATE COMP "digit0data[4]" SITE "E2" ;
LOCATE COMP "digit0data[5]" SITE "A9" ;
LOCATE COMP "digit0data[6]" SITE "B9" ;
LOCATE COMP "digit0data[7]" SITE "F1" ;
LOCATE COMP "digit0data[8]" SITE "C9" ;
LOCATE COMP "digit1data[0]" SITE "C12" ;
LOCATE COMP "digit1data[1]" SITE "B14" ;
LOCATE COMP "digit1data[2]" SITE "J1" ;
LOCATE COMP "digit1data[3]" SITE "H1" ;
LOCATE COMP "digit1data[4]" SITE "H2" ;
LOCATE COMP "digit1data[5]" SITE "B12" ;
LOCATE COMP "digit1data[6]" SITE "A11" ;
LOCATE COMP "digit1data[7]" SITE "K1" ;
LOCATE COMP "digit1data[8]" SITE "A12" ;
IOBUF PORT "nled[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nled[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nled[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nled[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nled[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nled[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nled[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nled[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digit0data[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digit0data[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digit0data[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digit0data[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digit0data[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digit0data[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digit0data[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digit0data[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digit0data[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digit1data[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digit1data[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digit1data[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digit1data[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digit1data[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digit1data[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digit1data[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digit1data[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digit1data[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "switch[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "switch[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "switch[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "switch[0]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "switch[3]" SITE "M10" ;
LOCATE COMP "switch[2]" SITE "M9" ;
LOCATE COMP "switch[1]" SITE "M8" ;
LOCATE COMP "switch[0]" SITE "M7" ;
LOCATE COMP "button[0]" SITE "L14" ;
LOCATE COMP "button[1]" SITE "M13" ;
LOCATE COMP "button[2]" SITE "M14" ;
IOBUF PORT "button[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "button[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "button[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "button[3]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "button[3]" SITE "N14" ;
IOBUF PORT "tx" IO_TYPE=LVCMOS33 ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
LOCATE COMP "tx" SITE "N8" ;
LOCATE COMP "rx" SITE "P8" ;
IOBUF PORT "rx" IO_TYPE=LVCMOS33 ;
